@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

$container-width: 1140px;
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body{
    font-family: "Lato";
}

.container{
    max-width: $container-width;
    margin: 0 auto;
}
.header{
    min-height: 75px;
    background: #222222;
}
    .nav{
        display: flex;
        justify-content: space-between;
    &__block{
        display: flex;
        align-items: center;
        min-height: 75px;
    }
    &__list{
        display: flex;
        align-items: center;
    }
    &__link{
        display: inline-block;
        &_left{
            padding-left: 31px;
        }
        &_right{
            padding-left: 20px;
        }
    }
}


.banner-top{
    background-color: #F1E4E6;
    
    &__container{
        min-height: 764px;
        background: url(img/background_top.png) -65% 100% no-repeat;
        position: relative;
        margin-bottom: 65px;
    }
    &__box{
        position: absolute;
        top: 35%;
        right: 0;
        display: flex;
    }
    &__box::before{
        content: "";
        display: block;
        width: 12px;
        height: 92px;
        background-color: #F16D7F;
        margin-right: 16px;
    }
    &__text{
        width: 431px;
        font-weight: 700;
font-size: 36px;
text-transform: uppercase;
line-height: 48px;
    }
}
.sections{
    display: flex;
    flex-wrap: wrap;
    .sections__top{
        width: $container-width;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &_block{
            position: relative;
        }
        &_block-link{
            display: block;
        }
    }
    &__bottom{
        position: relative;
        display: block;
    }
    &__text{
        text-transform: uppercase;
        position: absolute;
        text-align: center;
        top: 40%;
    left: 45%;
    &_top{
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
    }
    &_bottom{
        color: #F16D7F;
        font-size: 24px;
    }
    }
}
.cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card{
    display: block;
    width: 360px;
    background-color: #F8F8F8;
    margin-bottom: 30px;
    &__heading{
        font-size: 13px;
        line-height: 16px;
        color: #000000;
        padding: 23px 0 13px 18px;
    }
    &__text{
        font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #5D5D5D;
padding: 0 18px;
    }
    &__price{
        font-size: 16px;
line-height: 19px;
color: #F16D7F;
padding: 18px 0 20px 18px;
    }
}
.uppercase{
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 900;
}
.red{
    color: #F16D7F;
}
.banner-bottom{
    min-height: 340px;
    background-color: #222224;
    
    &__container{
        display: flex;
        padding: 103px 0;
    }
    &__block{
        width: $container-width/3;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__heading{
        font-size: 20px;
line-height: 24px;
color: #FBFBFB;
padding-top: 20px;
padding-bottom: 16px;
    }
    &__text{
        width: 340px;
        font-weight: 300;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #FBFBFB;
    }
    
}
.subscribe{
    background-image: url(img/background_bottom.jpg);
    min-height: 448px;
}


// // медиазапрос  для планшета
// @media (max-width: 1024px) {

//     .banner-top{
//         &__container{
//             min-height: 368px;
//             background: url(img/background_top_tablet.png) left 100% no-repeat;
//             position: relative;
//         }
//         &__box{
//             right: 50%;
//         }
//         &__box::before{
//             content: "";
//             display: block;
//             width: 12px;
//             height: 92px;
//             background-color: #F16D7F;
//             margin-right: 16px;
//         }
//         &__text{
//             font-size: 32px;
//             position: absolute;
//             padding-left: 16px;
//         }
//     }
//     .banner-bottom__container{
//         flex-direction: column;
//         align-items: center;
//     }
//     .banner-bottom__block{
//         margin: 48px 0;
//     }
// }



// // медиазапрос для телефона
// @media (max-width: 767px){

//     .banner-top{
//         &__container{
//             min-height: 368px;
//     background-image: none;
//             position: relative;
//             display: flex;
//             text-align: center;
//         }
//         &__box{
//             position: static;
            
//         }
//         &__text{
//             font-size: 26px;
//     }
// }
// }