@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: "Lato";
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  min-height: 75px;
  background: #222222;
}

.nav {
  display: flex;
  justify-content: space-between;
}
.nav__block {
  display: flex;
  align-items: center;
  min-height: 75px;
}
.nav__list {
  display: flex;
  align-items: center;
}
.nav__link {
  display: inline-block;
}
.nav__link_left {
  padding-left: 31px;
}
.nav__link_right {
  padding-left: 20px;
}

.banner-top {
  background-color: #F1E4E6;
}
.banner-top__container {
  min-height: 764px;
  background: url(img/background_top.png) -65% 100% no-repeat;
  position: relative;
  margin-bottom: 65px;
}
.banner-top__box {
  position: absolute;
  top: 35%;
  right: 0;
  display: flex;
}
.banner-top__box::before {
  content: "";
  display: block;
  width: 12px;
  height: 92px;
  background-color: #F16D7F;
  margin-right: 16px;
}
.banner-top__text {
  width: 431px;
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  line-height: 48px;
}

.sections {
  display: flex;
  flex-wrap: wrap;
}
.sections .sections__top {
  width: 1140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sections .sections__top_block {
  position: relative;
}
.sections .sections__top_block-link {
  display: block;
}
.sections__bottom {
  position: relative;
  display: block;
}
.sections__text {
  text-transform: uppercase;
  position: absolute;
  text-align: center;
  top: 40%;
  left: 45%;
}
.sections__text_top {
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
.sections__text_bottom {
  color: #F16D7F;
  font-size: 24px;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  display: block;
  width: 360px;
  background-color: #F8F8F8;
  margin-bottom: 30px;
}
.card__heading {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  padding: 23px 0 13px 18px;
}
.card__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  padding: 0 18px;
}
.card__price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  padding: 18px 0 20px 18px;
}

.uppercase {
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 900;
}

.red {
  color: #F16D7F;
}

.banner-bottom {
  min-height: 340px;
  background-color: #222224;
}
.banner-bottom__container {
  display: flex;
  padding: 103px 0;
}
.banner-bottom__block {
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-bottom__heading {
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
  padding-top: 20px;
  padding-bottom: 16px;
}
.banner-bottom__text {
  width: 340px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.subscribe {
  background-image: url(img/background_bottom.jpg);
  min-height: 448px;
}/*# sourceMappingURL=style.css.map */