$container-width: 1140px;
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
.container{
    // max-width: $container-width;
    max-width: 1140px;
    margin: 0 auto;
}
.nav{
    min-height: 75px;
    background: #222222;
}

.banner-top{
    min-height: 764px;
    background-color: #F1E4E6;
    background-image: url(img/background_top.png);
    background-repeat: no-repeat;
    position: relative;
    &__text{
        width: 403px;
        font-size: 48px;
        font-weight: 900;
        position: absolute;
    }
}

.uppercase{
    text-transform: uppercase;
}
.red{
    color: #F16D7F;
}
.banner-bottom{
    min-height: 340px;
    background-color: #222224;
    
    &__container{
        display: flex;
        padding: 103px 0;
    }
    &__block{
        width: $container-width/3;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__heading{
        font-size: 20px;
line-height: 24px;
color: #FBFBFB;
padding-top: 20px;
padding-bottom: 16px;
    }
    &__text{
        width: 340px;
        font-weight: 300;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #FBFBFB;
    }
    
}


// медиазапрос  для планшета
@media (max-width: 1024px) {
    .banner-bottom__container{
        flex-direction: column;
        align-items: center;
    }
    .banner-bottom__block{
        margin: 48px 0;
    }
}



// медиазапрос для телефона
@media (max-width: 800px){}